@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Martel:wght@200;300;400;600;700;800;900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.75em;
  text-rendering: optimizelegibility;
  --font-icons: "FontAwesome";
  --font-heading: "Raleway", sans-serif;
  --font-body: "Rubik", sans-serif;
  --font-list: "Rubik", sans-serif;
  --font-caption: "Rubik", sans-serif;
  --font-code: "Cousine", monospace;
  --color-contrast: #2233FA;
  --color-contrast-bg: rgba(188,231,234,0.25);
  --color-icon: #E7D610;
  --color-text: #404040;
  --color-text-lt: #909090;
  --color-bd: #A0A0A0;
  --color-bd-lt: rgba(160,160,160,0.56);
  --color-section-bd: #E0E3E2;
  --color-bg: #FFFFFF;
  --color-keyword: #2233FA;
  --color-declaration: #28297dA0;
  --color-symbol: #28297d;
  --color-comment: #7d7d7d;
  --color-operator: #D21580;
  --color-string: #007995;
  --color-string-bg: #22c1a31c;
  --color-number: #D21580;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-family: var(--font-heading);
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  font-weight: 500;
  line-height: 1.45em;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

dt {
  font-weight: bold;
  font-family: var(--font-heading);
  margin: 0px;
}

dd {
  margin: 0px;
  margin-left: 32px;
  margin-bottom: 16px;
}

dd:last-child {
  margin-bottom: 0px;
}

.markdown,
p,
dd,
li,
aside {
  max-width: 44em;
  font-family: --var(font-body);
}

p {
  margin-top: 1.5em;
  margin-bottom: 0em;
}

ul {
  margin: 1.25em 0em;
  padding: 0px;
  margin-left: 16px;
}

dd,
li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

dt code {
  font-weight: normal;
  padding: 0px;
  background: transparent;
}

em {
  font-style: normal;
  font-weight: 500;
}



header {
  margin-top: 16px;
  margin-bottom: 64px;
}

header > h1 {
  font-size: 36px;
}

section {
  margin-bottom: 16px;
  position: relative;
}

aside {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px  solid  var(--color-bd-lt);
}

section > h1 {
  margin-bottom: 8px;
}

.link{
  color: var(--color-contrast);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.link:after {
  display: inline-block;
  content: "↗";
  opacity: 0.5;
  position: relative;
}

.link:hover {
  border-bottom: 2px solid var(--color-contrast-bg);
  border-right: 2px solid var(--color-contrast-bg);
  background-color: var(--color-contrast-bg);
}

.link:hover:after {
  opacity: 1.0;
}

code,
pre {
  font-family: var(--font-code);
  font-size: 12px;
  line-height: 18px;
}

code {
  color: #404040;
  display: inline-block;
  background-color: #F6F8FA;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  border-radius: 4px;
}

pre {
  background-color: #F6F8FA;
  border-left: 2px  solid  #DFE7EC;
  padding: 1em;
  border-radius: 4px;
  position: relative;
  overflow: auto;
  margin: 0em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

pre:before {
  font-family: var(--font-caption);
  font-size: 8px;
  text-transform: uppercase;
  content: attr(data-lang);
  display: block;
  position: absolute;
  top: 0px;
  color: var(--color-text);
  padding-left: 4px;
  padding-right: 4px;
  border-bottom-left-radius: 6px;
  right: 0px;
  opacity: 0.2;
}


.document {
  font-family: var(--font-body);
  font-weight: 200;
  padding: 40px 80px;
}


.cells {
	width: 50%;
}

.navigation {
	font-size: 12px;
	line-height: 14px;
	font-family: var(--font-body);
	position: sticky;
	float: right;
	top: 40px;
	width: 180px;
	margin-right: -80px;
}

.navigation-content {
	box-sizing: border-box;
	max-height: calc(100vh - 80px);
	padding: 20px;
	overflow-y: auto;
	border-top: 1px solid var(--color-bd);
	border-bottom: 1px solid var(--color-bd);
	border-left: 1px solid var(--color-bd);

}

.navigation-title {
	background-color: var(--color-bd);
	color: white;
	padding: 4px;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: rotate(-90deg) translateX(-100%) translateY(-100%);
	transform-origin: top left;
}

.navigation-title:before {
	display: inline-block;
	content:"Files";
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}


.navigation-files {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.navigation-dir {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 1px solid var(--color-bd);
}

.navigation-ext,
.navigation-dirname:before {
	display: inline-block;
	content: "▼";
	width: 16px;
	font-size: 7px;
	font-weight: 600;
	height: 16px;
	background-color: var(--color-text);
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-radius: 2px;
	margin: 2px;
	margin-right: 10px;
	margin-left: 6px;
}

.navigation-dirname {
	font-weight: bold;
}

.navigation-file {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.navigation-link {
	display: flex;
	text-decoration: none;
	color: var(--color-text);
}

.navigation-file:hover .navigation-name {
	color: var(--color-contrast);
	text-decoration: underline;
	cursor: pointer;
}


.navigation-ext {
	order: 0;
	font-size: 7px;
	font-weight: 600;
	background-color: var(--color-contrast-bg);
	color: var(--color-text);
	font-weight: bold;
}

.navigation-name {
	order: 1;
}

.cell-target {
  position: absolute;
  margin-left: -20px;
  width: 20px;
  text-align: center;
  color:var(--color-text);
  font-size: 12px;
  opacity: 0.0;
  text-decoration: none;
}

.cell:hover .cell-target {
  opacity: 0.25;
}

.cell:hover .cell-target:hover {
  opacity: 1.0;
}

.cell-target:after {
  content: "#";
}

.cell-target:hover:after {
  content: "#";
}

.source {
  min-width: 45em;
}

.source .k, .source .kd {
  font-weight: bold;
  color: var(--color-keyword);
}

.source .kd {
  color: var(--color-declaration);
}

.source .p {
  opacity: 0.5;
}

.source .o {
  color: var(--color-operator);
}


.source .nx {
  color: var(--color-symbol);
}

.source .nb {
  color: var(--color-symbol);
}
.source .c1 {
  font-style: italic;
  color: var(--color-comment);
}

.source .si {
  opacity: 0.5;
}

.source .sb,
.source .s1,
.source .s2 {
  color: var(--color-string);
  background-color: var(--color-string-bg);
}

.source .mf {
  color: var(--color-number);
}

.term {
  cursor: pointer;
  transition-property: color;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-duration: 0.25s;
  font-weight: 500;
  color: var(--color-contrast);
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.term:before {
  display: inline-block;
  content: " ";
  font-family: var(--font-icons);
  font-size: 12px;
  text-align: left;
  opacity: 0.5;
  margin-right: 4px;
}

.term:hover {
  color: var(--color-contrast);
}

.term:active,
.term:target {
  background-color: var(--color-contrast-bg);
}


/* EOF *
